CONFIG_CMD_CONFIG=y
CONFIG_CC_OPTIMIZE_FOR_SPEED=y
CONFIG_CC_OPTIMIZE_LIBS_FOR_SPEED=y
CONFIG_ENV_IS_NOWHERE=y
CONFIG_LIBAVB=y
CONFIG_LOCALVERSION="-SPI-Installer"
CONFIG_MMC_HS200_SUPPORT=y
CONFIG_SPL_MMC_HS200_SUPPORT=y
CONFIG_SYS_PROMPT="spiInst> "
CONFIG_SYS_MAXARGS=64
CONFIG_VERSION_VARIABLE=y
CONFIG_BUTTON=y
CONFIG_BUTTON_GPIO=y
CONFIG_BUTTON_ADC=y
CONFIG_CMD_BUTTON=y
CONFIG_LED=y
CONFIG_LED_PWM=y
CONFIG_LED_GPIO=y
CONFIG_CMD_LED=y
CONFIG_CMD_SLEEP=y
CONFIG_CMD_CLONE=y
CONFIG_CMD_HOST=y
CONFIG_USE_PREBOOT=y
CONFIG_CMD_GREPENV=y
