CONFIG_LOCALVERSION="-testing"
CONFIG_CC_OPTIMIZE_FOR_SPEED=y
CONFIG_SYS_PROMPT="testing> "
CONFIG_SYS_MAXARGS=64
CONFIG_BUILD_BIN2C=y
CONFIG_CMD_CONFIG=y
CONFIG_CMD_UFETCH=y
CONFIG_CMD_GREPENV=y
CONFIG_CMD_GPIO_READ=y
CONFIG_CMD_DM=y
CONFIG_CMD_PWM=y
CONFIG_CMD_LSBLK=y
CONFIG_CMD_CLONE=y
CONFIG_CMD_POWEROFF=y
CONFIG_CMD_READ=y
CONFIG_CMD_WRITE=y
CONFIG_CMD_CAT=y
CONFIG_CMD_SETEXPR=y
CONFIG_CMD_SETEXPR_FMT=y
CONFIG_CMD_BSP=y
CONFIG_CMD_BUTTON=y
CONFIG_CMD_LED=y
CONFIG_CMD_INI=y
CONFIG_CMD_SYSBOOT=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_CMD_DIAG=y
CONFIG_VERSION_VARIABLE=y
CONFIG_BUTTON=y
CONFIG_BUTTON_ADC=y
CONFIG_BUTTON_GPIO=y
CONFIG_LED=y
CONFIG_LED_PWM=y
CONFIG_LED_GPIO=y
CONFIG_EXT4_WRITE=y
CONFIG_CC_OPTIMIZE_LIBS_FOR_SPEED=y
